{{ $author := .Get "author" }}
{{ $year := .Get "year" }}
{{ $title := .Get "title" }}
{{ $url := .Get "url" }}
{{ $booktitle := .Get "booktitle" }}
{{ $publisher := .Get "publisher" }}
{{ $address := .Get "address" }}
{{ $pages := .Get "pages" }}
{{ $abstract := .Get "abstract" }}
{{ $series := .Get "series" }}

<hr>

<blockquote cite="{{ (.Get " url") }}">
    {{ if $author }} {{ print $author "," }} {{ end }}
    {{ if $year }} {{ print $year "." }} {{ end }}
    {{ if $author }} <a href="{{ (.Get "url") }}"><i>{{ print $title "." }}</i></a> <br> {{ end }}
    {{ if $series }} {{ print $series ":" }} {{ end }}
    {{ if $booktitle }} {{ print "In " $booktitle "." }} {{ end }}
    {{ if $publisher }} {{ print $publisher "," }} {{ end }}
    {{ if $address }} {{ print $address "," }} {{ end }}
    {{ if $pages }} {{ print "pp. " $pages "." }} {{ end }}
</blockquote>

{{ if $abstract }}
    <p><strong>Abstract:</strong> <i>{{ $abstract }}</i></p>
{{ end }}

<hr>