<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Language" content="en-us" />
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<link rel="stylesheet" href="assets/css/style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
	<title>Contributions of Massimo Nocentini</title>
</head>

	<body bgcolor="#FFFFFF">

	<h1 align="center">Massimo Nocentini</h1>

	<div align="center">
	  <blockquote>
	    <address>
	    <a href="mailto:Massimo Nocentini <massimo.nocentini@gmail.com>">massimo.nocentini@gmail.com</a>
	    </address>
	    <em>May 2, 2020</em>
	  </blockquote>
	</div>
	<div class="container">
		{{ content }}
	</div>
	<footer>
		<div class="container"> my footer </div>
	</footer>
  </body>
</html>
